:root {
    --primary-color: rgb(186, 57, 21);
    --primary-color-highlight: rgb(201, 32, 32);
    --bs-body-bg: rgb(215, 177, 116);
    --bs-body-font-family: Square Peg;


}

a { color: var(--primary-color); }
a:hover { color: var(--primary-color); }

/*
@media (min-width: 544px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1400px) {}
@media (min-width: 1600px) {}
*/


/*etusivu teksti container*/
.container-custom {
    width: 100%;
    padding: 0 2rem;
    margin:0 auto;
}


/*header*/
.header {
    
    z-index: 2;
}
.fs-5 {
    font-size: 3.5rem!important;
    text-shadow: -1px 0px rgb(226, 16, 16), 0 1px rgb(226, 16, 16), 1px 0 rgb(226, 16, 16), 0 -1px rgb(226, 16, 16);
}

/*navbar*/
#navbar {
    position: fixed;
    left: 0;
    top:0;
    right:0;
    bottom:0;
    background-color: rgb(3, 3, 3);
    z-index: 4;
}

.dropdown-nav__closeNavBtn {
    position: absolute;
    top: 20px;
    right: 16px;
    background-color: rgb(125, 61, 15);

}

.dropdown-nav__container {
    height: 100vh;
    padding: 0 1rem;

}

/*etusivu*/
.hero {
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;

}

h1 {
    font-size: 5rem;
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
}

.lead {
    font-size: 3rem;
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media (min-width: 1400px) {
.hero__heading {
    font-size: 3.2rem;
    }
}

.hero__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);

}

.hero__content {
    z-index: 1;
}

.hero__content-width {
    max-width: 100%; /*vaihtoehto 540px*/
}

.hero__scroll-btn {
    font-size: 25px;
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--bs-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.hero__scroll-btn:hover {
    color: rgb(140, 17, 17);
}

.hero__scroll-btn .bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;    
}



@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}

/*toinen sivu alkaa*/


a {
    font-size: 2rem;
    
}

.second {
    padding-top: 40px;
    padding-bottom: 30px;
}

.second__section-thumbnail {
    height: 240px;
    object-fit: cover;
    margin: 0 auto;
}

.second__content-width {
    max-width: 456px;
    margin:0 auto;
}

.second--background {
    background-color: rgb(44, 41, 40);
   
}

@media (min-width: 544px) {
    .second {
        padding-top: 40px;
        padding-bottom: 40px;
        }
    }


.second__section-thumbnail {
    height: auto;
}

div > p {
    font-style: oblique;
  }

  [alt~=girl] {
    border: 3px solid rgb(129, 21, 2);
  }

/*toinen sivu loppuu*/

/*kolmas sivu alkaa*/

[alt~=fear] {
    border: 4px solid rgb(254, 253, 252);
  }

/*footer alkaa*/

.footer .border-highlight{
    border-top: 1px solid var(--primary-color-highlight);

}



/*footer loppuu*/

/*accordion sivu alkaa*/

#infosivu {
    background: url(/images/info.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    display: flex;
    align-items: top;
}

#infosivu h2 {
    font-weight: 700;
    text-align: center;
    margin: 50px 0 !important;

}

.container1 {
    margin-left: 5px;
    margin-right: 3px;
    
}

.accordion-item, .accordion-header {
    background-color: rgb(185, 185, 185 ) !important;
    border:none !important;
    padding:0 !important;
    margin-bottom: 120px;

}

.accordion-button {
    background-color: rgb(185, 185, 185 ) !important;
    width: 100%;
    height: 60px;
    color:black !important;
    font-size: 35px;
    font-weight: bold !important;
    text-align: left !important;
    text-decoration: none !important;
}

/*accordion sivu loppuu*/
